.swiper {
    width: 320px;
    height: 320px;
  }
  
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }
  
  .swiper-slide:nth-child(1n) {
    background-color: none /*rgb(218, 12, 218)*/;
  }
  
  .swiper-slide:nth-child(2n) {
    background-color: none /*rgb(218, 12, 218)*/;
  }
  
  .swiper-slide:nth-child(3n) {
    background-color: none /*rgb(218, 12, 218)*/;
  }
  
  .swiper-slide:nth-child(4n) {
    background-color: none /*rgb(218, 12, 218)*/;
  }
  
  .swiper-slide:nth-child(5n) {
    background-color: none /*rgb(218, 12, 218)*/;
  }
  
  .swiper-slide:nth-child(6n) {
    background-color: none /*rgb(218, 12, 218)*/;
  }
  
  .swiper-slide:nth-child(7n) {
    background-color: none /*rgb(218, 12, 218)*/;
  }
  
  .swiper-slide:nth-child(8n) {
    background-color: none /*rgb(218, 12, 218)*/;
  }
  
  .swiper-slide:nth-child(9n) {
    background-color: none /*rgb(218, 12, 218)*/;
  }
  
  .swiper-slide:nth-child(10n) {
    background-color: none /*rgb(54, 94, 77)*/;
  }