/* style buat hero */
.pembungkus {
  background-image: url(../../../Assets/Bgimg/weblangit.webp);
  background-size: 100vw 100vh;
  overflow: hidden;
}

/* style buat divisi bagian home */
.info-box-wrapper {
  position: relative;
  top: -300px;
  left: 800px;
  background-color: aquamarine;
  padding: 10px;
  width: 200px;
}

.fancy-carousel-wrapper-element {
  margin: auto;
}

.fancy-carousel {
  margin: auto;
}

.main {
  position: relative;
  margin: auto;
  display: flex;
}
